/* COLOR */
$main-color: #688F4E;
$secondary-color: #F07421;
$third-color: #F9F7F1;


$black-color: #272727;
$white-color: #ffffff;
$grey-color: #E5E5E5;


/* FONTS */
/* $main-font: 'Playfair Display', serif;
$secondary-font: 'Raleway', sans-serif; */
